/* =TABLE OF CONTENTS
=======================================================
01:  Globals
02:  Activity
03:  Members
03a: Member profile
03b: Member directory
04:  Group
04a: Group directory
04b: Group profile
05:  Blogs
05a: Blog directory
06:  Messages
07:  Notifications and notices
08:  Core widgets
09:  Forms
09a: Buttons
10:  Navigation
10a: Pagination
*/

/* 01:  Globals
-------------------------------------------------------------- */
#buddypress .link-list, #buddypress .directory-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
#buddypress .directory-list li{
	margin: 0;
	padding: 0;
}
/* 02:  Activity
-------------------------------------------------------------- */
#buddypress #buddypress-activity{

}
#buddypress #activity-stream{

}
#buddypress .activity-header{
	float: left;
	margin: 0 2% 2% 0;
	width: 80px;
}
#buddypress .activity-avatar{

}
#buddypress .activity-inreply{

}
#buddypress .activity-body{
	margin: 0 0 0 100px;
}
#buddypress .activity-meta{
	padding: 0 0 4% 0;
}
#buddypress .activity-meta a{
	float: left;
	margin: 0 2% 0 0;
}
#buddypress ul.activity-actions{

}
#buddypress .activity-delete{

}
#buddypress .activity-comments{

}
#buddypress .activity-comments-lable{

}
#buddypress .activity-comment-avatars{

}
/* 03:  Members
-------------------------------------------------------------- */
/* 03a: Member profile
-------------------------------------------------------------- */
#buddypress #member-sidebar{

}
#buddypress #member-profile{

}
#buddypress nav#member-navigation{

}
#buddypress #member-header{
	
}
#buddypress #member-activity{

}
/* 03b: Member directory
-------------------------------------------------------------- */
#buddypress #members-directory{

}
@media only screen and (min-width : 481px) {
	#buddypress #members-list{
		-moz-column-count: 2;
	    -moz-column-gap: 10px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 10px;
	    column-count: 2;
	    column-gap: 10px;
	    width: 100%; 
	}
}
@media only screen and (max-width : 480px) {
	#buddypress #members-list{
		-moz-column-count: 1;
	    -moz-column-gap: 10px;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 10px;
	    column-count: 1;
	    column-gap: 10px;
	    width: 100%; 
	}
}
#buddypress #members-list li{
	background:#eee;
	display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
#buddypress .member-avatar{

}
#buddypress .member-details{

}
#buddypress .member-title{

}
#buddypress .member-activity{

}
#buddypress .member-action{

}
/* 04:  Group
-------------------------------------------------------------- */
/* 04a: Group directory
-------------------------------------------------------------- */
/* 04b: Group profile
-------------------------------------------------------------- */
/* 05:  Blogs
-------------------------------------------------------------- */
/* 05a: Blog directory
-------------------------------------------------------------- */
/* 06:  Messages
-------------------------------------------------------------- */
/* 07:  Notifications and notices
-------------------------------------------------------------- */
/* 08:  Core widgets
-------------------------------------------------------------- */
/* 09:  Forms
-------------------------------------------------------------- */
#buddypress .button{

}
#buddypress .has-count{

}
#buddypress .confirm{

}
/* 09a: Buttons
-------------------------------------------------------------- */
/* 10:  Navigation
-------------------------------------------------------------- */
/* 10a: Pagination
-------------------------------------------------------------- */
#buddypress .buddypress-pagination{
	padding: 0 0 2% 0;
}
#buddypress .buddypress-pagination-count{
	float: left;
}
#buddypress .buddypress-pagination-links{
	float: right;
}