/* = Hacks, oopsies and omgs
=======================================================
*/
#buddypress .directory-list li{
	clear: both;
}
#buddypress .directory-list li li{
	clear: none;
}
#buddypress .buddypress-pagination{
	overflow: hidden;
}
#buddypress .activity-meta{
	overflow: hidden;
}